<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rc_5th_api">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--    네트워크로만 위치 측정-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--    GPS 센서로 측정-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RC_5th_API">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCI9IvPbDzQgzNGnG4IE4RsJIjtxcld2fU"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:host="oauth" android:scheme="kakaocb9943de8f9e1db1922bc54569ade976"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SetAddressActivity"/>
        <!--        <activity android:name=".MainActivity"/>-->
        <activity android:name=".LoginActivity"/>

    </application>

</manifest>